body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  text-align: center;
}

nav {
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #00ffd5;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 30px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #00ffd5;
}

.section {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

h2 {
  color: #00ffd5;
  text-shadow: 0 0 12px rgba(0,255,213,0.6);
}

strong, span {
  color: #ffd369;
}

.skills-box span {
  display: inline-block;
  margin: 8px;
  padding: 10px 18px;
  border-radius: 20px;
  background: #00ffd5;
  color: #000;
  font-weight: bold;
}

.project {
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  cursor: pointer;
}

.project-desc {
  display: none;
  margin-top: 10px;
}
.contact-btn-wrapper {
  margin: 30px 0;
}

.contact-btn {
  display: inline-block;
  padding: 14px 28px;
  background: #ffd369;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background: #00ffd5;
  transform: scale(1.1);
}
